
<!DOCTYPE html>
<html ng-app="MotionCam">
<head>
    <meta charset="utf-8" />
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
      <link rel="stylesheet" href="CSS/Motion.css" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="//vjs.zencdn.net/5.11/video-js.min.css" rel="stylesheet">

      <script src="//vjs.zencdn.net/5.11/video.min.js"></script>
  </head>

  <body class="" ng-controller="ChangeLocationController as Change">    
    <header class="background-image container" ng-show="globals.currentUser"  style="width: inherit;" ng-cloak>
     <div class="running-man"><img src="images/logo-no-background.png" width="50%"  height="70%" /></div>
      <div layout="row" class="float-right">
      <span class="main-menu username">Welcome {{globals.currentUser.username}}</span>
      </div>
     
    </header>
     <div id = "realheight"  class="row" style="margin-right: 0px;">
    <div class="col-lg-2 col-md-2 col-sm-2" ng-show="globals.currentUser" style="padding:0px">
    <md-sidenav  style="height:836px" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-button ng-click="changetohome()" class="main-menu"><div><i class="material-icons center_icon" style="margin-left: -13%;">visibility</i> Live feed</div></md-button>
        <md-button ng-click="changetovids()" class="main-menu"><div><i class="material-icons center_icon">video_label</i> Saved videos</div></md-button>
        <md-button ng-click="changetosettings()" class="main-menu"><div><i class="material-icons center_icon" style="margin-left: -16%;">settings</i> Settings</div></md-button>
        <md-button ng-click="logout()"><div><i class="material-icons center_icon" style="margin-left: -17%;">keyboard_arrow_down</i> Logout</div></md-button>
        <md-button download="content.txt" ng-href="{{ url }}"><i class="material-icons"  style="margin-left: -5%;">file_download</i> Download</md-button>
    </md-sidenav>
      </div>
        <div  id ="sizeof" class="col-lg-10 col-md-10 col-sm-10">
          <div ng-view></div>
        </div>
      </div>
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="//code.angularjs.org/1.5.5/angular-route.js"></script>
    <script src="//code.angularjs.org/1.5.5/angular-cookies.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-sanitize.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.43.min.js"></script>
    <script src="JavaScript/app.js"></script>
    <script src="modules/home/Scripts/Home.js"></script>
    <script src="modules/Authentication/Scripts/Register.js"></script>
    <script src="modules/Authentication/Scripts/Login.js"></script>
    <script src="modules/Authentication/Scripts/Authentication.js"></script>
    <script src="modules/home/Scripts/viewers.js"></script>
    <script src="modules/home/Scripts/settings.js"></script>
    <script src="modules/home/Scripts/videos.js"></script>
    <script src="modules/home/Scripts/HomeService.js"></script>
    <script src="modules/home/Scripts/settingsservice.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.9.7/TweenMax.min.js"></script>
    <script type="text/javascript">

    </script>
     
  </body>

</html>
