html{
}

text
{
	color:white;
}

md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color: white;
}

h1
{
 color: white;
}
md-dialog.md-transition-in, md-dialog.md-transition-out 
{
 width:40%;
}

body
{
	background: inherit;
}
md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar
{
	background: #57BC90 !important;
}

md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple
{
	color:#87cefa !important;
}
header {
	overflow: auto;
	transition: all .2s;
}

header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
}
.main-menu
{
	font-size:12px !important;
}
.float-right
{
	float: right;
}

.float-left
{
	float:left;
}

.margin-bottom
{
	margin-bottom: 10%;
}

.margin-top
{
	margin-top: 2%;
}

.add-view 
{
	margin-bottom: 40px;
}
.setting-space
{
	margin-bottom: 40px;
}
.show-space
{
	margin-left: 20px;
}

.background-image
{
  /*background: url("CssImages/2880x1800-light-sky-blue-solid-color-background.jpg") no-repeat center center fixed !important; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
}
.background-color
{
  background: linear-gradient(-90deg,#77c9D4,#57BC90);
  background-size: cover;
}


.transparent_class
{
	color:white;
	background-color:rgba(0,0,0,0.6) !important;
	min-height: 500px;
}


.running-man
{
	float: left;
	width: 20%;
	height:25%;

}

.white
{
	background-color: white;
}
.red
{
	color: red;
}
.background-light-blue
{
	background-color: #87cefa;
}
.background-white
{
	background-color: white; 
}
.percentmargin5
{
 margin-left: 5%;
}

.width-4
{
	width:4%;
}
.md-button.md-default-theme.md-accent, .md-button.md-accent
{
	color:black !important;
}

.binoculars
{
	background: url("CssImages/binoculars-cartoon-illustration-hand-drawn-animation-transparent_vjgspyjo__S0004.jpg") no-repeat center center fixed !important; 
	width:50%;
	height:20%;
}

.center-title
{
	margin-left: 32%;
	display: block;
}
.img-size
{
	width:100%;
	height:300px;
}
.image-fit
{
	width: 80%;
    height: 221.83px !important;
}

.img-Centered
{
	margin-left: 20%;
}

.register-container
{
	background-color: white !important;
	border-radius: 10px 10px 10px 10px;
	width:45%;
	margin-top: 10%;
	margin-left: 25%;
	
}
.register-center
{
    margin-left: 20%;

}
.register-link
{
	font-size: 11px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.login-button
{
	background-color: white;
    color: grey ;
}
.login-container
{
	background-color: white !important;
	border-radius: 10px 10px 10px 10px;
	width:45%;
	margin-top: 10%;
	margin-right: 16%;
}
.popup-container
{   width:100%;

}
.popup-form
{
	margin: 5%;
    width: 90%;
}
.popup-button
{
	width: 100%;
    background-color: cornflowerblue;
    border-radius: 0px;
    color: white;
    
}
.popup-input
{
	border-radius: 0px !important;
	width: 100% !important;
}
.input
{   
    border-radius: 0px !important;
    width: 130% !important;
}
.login-btn
{

	width: 131%;
    background-color: cornflowerblue;
    border-radius: 0px;
    color: white;
}
.login-logo
{
	width: 100%;
    height: 25%;
    margin-right: 0;

}
.login-text
{
	font-size: 19px;
	font-family: cursive;
	color: black;
	margin-bottom: 10%;
	width:107%;
}
.login-center
{
	margin-left: 20%;
    margin-right: 0% !important;
    width: inherit;
    margin-right: 0% !important;
    margin-left: 22%;
}
.heightofsavedvideos
{
	height:150px;
}
.border
{
	border-bottom: 
}
.setting-container
{
	/*border-radius: 10px 10px 10px 10px;*/
	width:75%;
	margin-top: 5%;
	margin-left: 9%;
	border-radius: 10px;
	border: 1px solid #e8e8e8;
	background-color: white;
	
}.img-btn-container{
    position:relative;
    display:inline-block;
    opacity: 1;
}

.btn-img-overlay {
     position: absolute;
    left: 10px;
    top: 10%;
}
.md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon
{   
    background-color: #3f51b5 !important;
}
md-sidenav
{
	width:100%;
	border-right: 1px solid #e8e8e8;
}
.searchbar{
	width: 62%;
    border-radius: 0px;
    margin-left: 4%;
}
.username
{
	font-size: 18px !important;
    margin-top: 11%;
    font-family: cursive;
}
.center_icon{
	vertical-align: middle;
}
.btn-img-overlay {
    position: absolute;
    left: 10px;
    top: 10%;
    width: 46%;
    opacity: 0;
    color: white;
    margin-left: 32%;
}