<div class=" percentmargin5">
  <div class="container center-title">
  	<div class="float-left">
  		<h2>Live Feed </h2>
  	</div>
  	<div class="float-left">
  		<img style="width: 15%;" src="CSS/CssImages/binoculars (1).png"/>
  	</div>     
  </div>
<div class="row">
  <div ng-repeat="Camera in Cameras" class="margin-top">
  	<div class="col-md-6 col-lg-6 margin-bottom ">
  		<img class="image-fit md-whiteframe-11dp" ng-src="{{Camera.url}}">
  	</div>
 </div>  
 </div>
  <div>
  <button class="btn login-button add-view" ng-click="showPrompt()">Add Camera</button>    
  </div>  
  </div>