<div>
<div class="container center-title">
<div class="float-left">
<h2>Video gallery</h2>
</div>

</div>
   
     	 <div ng-repeat="video in videos" class="md-whiteframe-11dp col-md-4 col-sm-4 col-lg-4"  layout layout-align="center center">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
          <md-card-content>
             <h2>Video</h2>
              <video
                id="my-player"
                class="video-js heightofsavedvideos"
                controls
                preload="auto"
                
                >
            <source ng-src= "{{trustSrc(video.Path)}}" type="video/mp4">
            </video>
          </md-card-content>
    	    <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" ><i class="material-icons">get_app</i></md-button>
            <md-button class="md-icon-button" ng-click="deletevid(video)"><i class="material-icons">delete</i></md-button>
          </md-card-actions>
	     </md-card>

     </div>


</div>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc4.min.js"></script>
<script src="//vjs.zencdn.net/5.11/video.min.js"></script>
