<div class=" percentmargin5">
  <div class="center-title">
  	<div class="float-left">
  		<h2>Live Feed </h2>
  	</div>
  	<div class="float-left">
  		<img style="width: 15%;" src="CSS/CssImages/binoculars (1).png"/>
  	</div>     
  </div>
<div class="row">
  <div class ="col-md-12">
      <button class="btn login-button add-view" ng-click="showPrompt()">Add Camera</button>    
  </div>  
  <div ng-repeat="Camera in Cameras" class="margin-top">
  	<div class="col-md-6 col-lg-6 margin-bottom ">
    <div class="img-btn-container">
        <image-with-download src= {{Camera.url}} btn1-label={{Camera.name}} btn1-action="delete(Camera.id)" ></image-with-download>
      </div>
  	</div>
 </div>  
 </div> 
  <script type="text/javascript">
     $(document).load(function () {
          var height = $("#percentmargin5").height();
          console.log(height);
});
</script>
  </div>
 