
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

 <div class="md-padding setting-container">
      <div class="login-text">Camera Modifications</div>
  <div class="row">
  <div class="setting-space col-md-6">
         Camera Motion Detection:
   <md-switch ng-model = "data.cb1" aria-label="Enable Camera" ng-true-value = "'Enable'" ng-false-value="'Disable'">
 	    {{data.cb1}}
   </md-switch>
  </div>
  <div class="setting-space col-md-6">
  Notifications:

   <md-switch ng-model = "data.notifications" aria-label="Notifications" ng-true-value = "'Enable'" ng-false-value="'Disable'">

 	 {{data.notifications}}
   </md-switch>
  </div>
 
  <div class="col-md-3 setting-space">
  	 Set Days:
    </div>
    <div class="col-md-9 setting-space">
     <md-checkbox ng-model="data.setdays" aria-label="settime"></md-checkbox>
  </div>

  
   <div class="col-md-12 setting-space" ng-show="data.setdays">
    <md-list-item style="max-width: 35%;" ng-repeat="day in data.days">
      {{ day.name }}
     <md-checkbox class="md-secondary" ng-model="day.wanted" aria-label={{day.name}}></md-checkbox>
   </md-list-item>
  </div>
  
  
   <div class=" col-md-3 settings-space">Set Time: 
  </div>
  <div class="setting-space col-md-9">
      <md-checkbox ng-model="data.timeinterval" aria-label="timeinterval"></md-checkbox>
  </div>
  <div ng-show="data.timeinterval">
   <div class="col-md-6 setting-space">
     From: 
     <input type="time" name="" ng-model="data.from" md-placeholder="Enter Time"/>
   </div>
   <div class="col-md-6 setting-space">
     To:
    <input type="time" ng-model="data.to" md-placeholder="Enter Time" />
   </div>
  </div>
</div>


 <div>
     <md-button class='w3-button w3-round-xxlarge w3-indigo' ng-click="updateschedule()">Update</md-button>
   </div>
  </div>
  
  
  
</body>

